body{
    background-color: rgb(229, 234, 255);
    color:black;
}

/* Page container */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Page title */
.title {
  margin-bottom: 20px;
}

/* News card */
.news-card {
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  background-color:#FAFFFF;
  
}

.news-card:hover {
  background-color: #E1F3F3;
}

.source {
  font-size: 12px;
  color: gray;
}



